.form {
        background-color: #282c34;
        /* min-height: 100vh; */
        /* display: flex; */
        flex-direction: column;
        align-items: left;
        justify-content: space-evenly;
        font-size: calc(10px + 2vmin);
        color: white;   

}